body {

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    flex-direction: column;
    display: flex;
    width: 90%;

}
#welcome{

    background: url(../images/background/h_img\ background.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;

color: white;

font-size: 35px;

align-items: center;

justify-content: center;

text-align: center;

background-size: cover;
}
#amazing{
    font-size: small;
}


#About_us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3;

}
.designs{
    width: 25%;
    display: none;

}

#content_box {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

#what_we_do {
    margin-top: 1.7%;
    text-align: center;



}
#contact_us{
    margin-top: 2%;
    min-height: 50vh;
    min-width: 100%;
    background: url(../images/c_image.jpg);
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    
}
textarea{
    width: 65%;
    background: transparent;
    border-color: white;


}
input{

    background: transparent;
    border-color: white;
    width: 35;

}

#social_icons{

    text-align: center;
}
#footer{
    text-align: center;
}

#form{

   background: transparent;
}
#services{
    background: url(../images/background/s_image.jpg);
    color: white;    
  justify-items: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
text-align: center;
justify-content: center;
background-position: center;
align-items: center;
margin: 10%;
}
#parent1,#parent2,parent3,parent4,parent5,parent6,parent7,parent8{
    position: relative;
}
#child1,#child2,child3,child4,child5,child6,child7,child8{
    position: absolute;
    opacity: 0;
    top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  text-align: center;

  /* color:white; */
  font-weight: bold;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 20px;
  background-color: white;
  background-color: rgb(255, 255, 255)
}
img1,img2,img3,img4,img5,img6,img7,img8{
   opacity: 1; 
   
}